.DS_Store
*.pyc
__pycache__/
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/
.env
.env.*
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints/
.idea/
.vscode/
*.log

data/
mlartifacts/
mlruns/
mlflow.db